<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dcf0f8"
  style="margin:0;padding:0;background-color:#f2f2f2;width:100%!important;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
    <tbody>
        <tr>
            <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top:15px;border-top: 3px solid #f54b24;">
                    <tbody>
                        <tr class="CZhdm" style="background:#fff">
                            <td align="center" valign="bottom" id="m_3757859472090258022headerImage">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" bgcolor="#FFFFFF" style="padding:15px 30px 0 30px">
                                                <div style="color:#fff;font-size:11px;display:none">#SUB_TITLE#</div>
                                                <a style="border:medium none;text-decoration:none;color:#007ed3;max-height:30px;" href="https://chozoi.vn" target="_blank">
                                                    <img alt="Chozoi" src="https://cdn.chozoi.vn/post/2850bbe1d2644168b6695b736d4a04cb.png" height="30">
                                                </a>
                                            </td>
                                            <td bgcolor="#FFFFFF" style="padding:25px 30px 0 30px;font-size: 14px;text-align: right;">Bạn cần hỗ trợ? Vui lòng gọi <b>1900 6094</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr class="CZcm" style="background:#fff">
                          <td>
                            <table width="100%">
                              <tr>
                                <td bgcolor="#FFFFFF" style="padding:30px;text-align: center" width="100%">
                                  <img alt="Chozoi template order" src="https://cdn.chozoi.vn/post/15a8303913ee4b24902856e052495a69.png" height="100">
                                </td>
                              </tr>
                              <tr style="background:#fff">
                                  <td align="left" width="600" height="auto" style="padding: 0 30px;">
                                      <table width="100%">
                                          <tbody>
                                              <tr>
                                                  <td>
                                                      <h1 style="font-size:18px;color:#000000;padding:0 0 5px 0;font-weight: normal;line-height:16px">
                                                          Thân chào <strong>#USER_NAME#</strong>,
                                                      </h1>
                                                      <p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000000;line-height:18px;font-weight:normal">
                                                          <b>#SUB_TITLE#</b>
                                                      </p>
                                                      <p style="font-size:14px;color:#000000;line-height:16px">
                                                        #MESSAGE#
                                                      </p>
                                                  </td>
                                              </tr>
                                              <tr>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                          <tbody style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:20px">
                                                            <tr>
                                                                <td style="padding: 5px 0">
                                                                  <img src="https://cdn.chozoi.vn/post/cf5a608d34c447af853bdaa99cfa9c91.png" alt="Chozoi contact phone" style="margin-right: 8px;vertical-align: middle;max-height:36px;max-width:36px">
                                                                  <b>Mua và bán hàng online nhanh chóng, mọi lúc, mọi nơi.</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px 0">
                                                                  <img src="https://cdn.chozoi.vn/post/c187888cc09a499aab97bbdc5ec10a28.png" alt="Chozoi contact phone" style="margin-right: 8px;vertical-align: middle;max-height:36px;max-width:36px">
                                                                  <b>Tính năng đấu giá sản phẩm.</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px 0">
                                                                  <img src="https://cdn.chozoi.vn/post/63d27a57bd154cce8a81fa5988196af6.png" alt="Chozoi contact phone" style="margin-right: 8px;vertical-align: middle;max-height:36px;max-width:36px">
                                                                  <b>Dễ dàng theo dõi, quản lý đơn hàng.</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px 0">
                                                                  <img src="https://cdn.chozoi.vn/post/d2a10cb31e7e4c6ab6a4cbbc426e5310.png" alt="Chozoi contact phone" style="margin-right: 8px;vertical-align: middle;max-height:36px;max-width:36px">
                                                                  <b>An tâm mua sắm, Chozoi đảm bảo giao dịch, hỗ trợ khiếu nại, bảo vệ người mua.</b>
                                                                </td>
                                                            </tr>
                                                          </tbody>
                                                      </table>
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <p style="margin: 0;font-size: 14px;margin-bottom: 24px;line-height: 20px;margin-top: 10px;">
                                                    Chozoi trân trọng cảm ơn và rất hân hạnh được phục vụ bạn.<br>
                                                    Đăng nhập vào tài khoản Chozoi ngay bây giờ để trải nghiệm thêm.
                                                  </p>
                                                  <div style="margin:auto;margin-bottom: 30px;text-align: center;">
                                                    <a href="https://chozoi.vn" style="display:inline-block;text-decoration:none;background-color:#F54B24!important;text-align:center;border-radius:3px;color:#fff;padding:13px 16px;font-size:14px;font-weight:bold;" target="_blank">
                                                      Trải nghiệm ngay
                                                    </a>
                                                  </div>
                                                </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td style="color: #DDDDDD;padding: 12px 30px 8px 30px;border-bottom: 1px solid #707070;">
                            <table width="600" style="font-size:14px;">
                              <tr style="color: #DDDDDD;">
                                <td width="0"></td>
                                <td width="50%" align="right" style="padding-right: 20px">
                                  <img src="https://cdn.chozoi.vn/post/79c2dcb0268c4bf69808ef02be415eb4.png" alt="Chozoi contact phone" height="18" width="18" style="vertical-align: middle;">
                                  1900 6064
                                </td>
                                <td width="50%" align="left" style="padding-left: 20px">
                                  <img src="https://cdn.chozoi.vn/post/31d943e18e3c4660a4ffa3861a0f24cd.png" alt="Chozoi contact email" height="18" width="18" style="vertical-align: middle;">
                                  <a href="mailto:support@chozoi.vn" target="_blank" style="color: #DDDDDD;text-decoration: none;">support@chozoi.vn</a>
                                </td>
                                <td width="0"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td style="color: #DDDDDD;padding: 11px 30px 10px 30px;border-bottom: 1px solid #707070;">
                            <table width="600" style="font-size:12px;">
                              <tr>
                                <td width="25%" align="left" style="border-right: 1px solid #DDDDDD">
                                  <a href="#" style="color: #DDDDDD;text-decoration: none;">Chính sách thanh toán</a>
                                </td>
                                <td width="25%" align="center" style="border-right: 1px solid #DDDDDD">
                                  <a href="#" style="color: #DDDDDD;text-decoration: none;">Chính sách giao hàng</a>
                                </td>
                                <td width="25%" align="center" style="border-right: 1px solid #DDDDDD">
                                  <a href="#" style="color: #DDDDDD;text-decoration: none;">Chính sách đổi trả</a>
                                </td>
                                <td width="25%" align="center">
                                  <a href="#" style="color: #DDDDDD;text-decoration: none;">Câu hỏi thường gặp</a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td style="padding: 12px 30px 0 30px;">
                            <p style="margin: 0;font-size: 12px;color: #DDDDDD;line-height: 20px;border-bottom: 1px solid #707070;padding-bottom: 12px;">
                              <strong>CÔNG TY CỔ PHẦN MCG</strong><br>
                              Giấy CNĐKDN: 0106462815 – Ngày cấp: 21/02/2014, sửa đổi lần thứ 3 ngày 24/05/2019. <br>
                              Nơi cấp: Phòng Đăng ký kinh doanh - Sở kế hoạch và Đầu tư TP. Hà Nội. <br>
                              Trụ sở chính: Số 7 ngõ 188 Lê Trọng Tấn, phường Khương Mai, Q. Thanh Xuân, TP. Hà Nội.
                            </p>
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td align="center" style="padding: 8px 30px;">
                            <p style="margin-bottom: 10px;font-size: 12px;color: #DDDDDD;line-height: 20px;">
                              Tải xuống ứng dụng Chozoi MIỄN PHÍ, trải nghiệm mua sắm tiện lợi ngay bây giờ
                            </p>
                            <img src="https://cdn.chozoi.vn/post/9d88423090d74db8989196a245f5a9a5.png" alt="Chozoi app store" height="42" style="vertical-align: middle;">
                            <img src="https://cdn.chozoi.vn/post/f153478a10cd43e99b5acb1b76d5e455.png" alt="Chozoi google play" height="42" style="vertical-align: middle;">
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td align="center" style="padding: 0 30px;border-bottom: 1px solid #707070;">
                            <table width="600" style="border-top: 1px solid #707070;color: #DDDDDD">
                              <tr>
                                <td style="font-size: 12px;padding: 10px 0">© 2019 Chozoi. Đã đăng ký Bản quyền.</td>
                                <td align="right" style="padding: 10px 0">
                                  <img src="https://cdn.chozoi.vn/post/3e77fc3b0ec7409e94f9112147dfa332.png" alt="Chozoi app store" height="18" style="vertical-align: middle;">
                                  <img src="https://cdn.chozoi.vn/post/33612fc7872f451498760b1401289a3b.png" alt="Chozoi google play" height="18" style="vertical-align: middle;">
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
