<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dcf0f8"
  style="margin:0;padding:0;background-color:#f2f2f2;width:100%!important;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
    <tbody>
        <tr>
            <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top:15px;border-top: 3px solid #f54b24;">
                    <tbody>
                        <tr class="CZhdm" style="background:#fff">
                            <td align="center" valign="bottom" id="m_3757859472090258022headerImage">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" bgcolor="#FFFFFF" style="padding:15px 30px 0 30px">
                                                <div style="color:#fff;font-size:11px;display:none">#SUB_TITLE#</div>
                                                <a style="border:medium none;text-decoration:none;color:#007ed3;max-height:30px;" href="https://chozoi.vn" target="_blank">
                                                    <img alt="Chozoi" src="https://cdn.chozoi.vn/post/2850bbe1d2644168b6695b736d4a04cb.png" height="30">
                                                </a>
                                            </td>
                                            <td bgcolor="#FFFFFF" style="padding:25px 30px 0 30px;font-size: 14px;text-align: right;">Bạn cần hỗ trợ? Vui lòng gọi <b>1900 6094</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr class="CZcm" style="background:#fff">
                          <td>
                            <table width="100%">
                              <tr>
                                <td bgcolor="#FFFFFF" style="padding:30px;text-align: center" width="100%">
                                  <img alt="Chozoi template order" src="https://cdn.chozoi.vn/post/ae1711771eb84ae8ba75872b07077c0c.png" height="100">
                                </td>
                              </tr>
                              <tr style="background:#fff">
                                  <td align="left" width="600" height="auto" style="padding: 0 30px;">
                                      <table>
                                          <tbody>
                                              <tr>
                                                  <td>
                                                      <h1 style="font-size:18px;color:#000000;padding:0 0 5px 0;font-weight: normal;line-height:16px">
                                                          Thân chào <strong>#USER_NAME#</strong>,
                                                      </h1>
                                                      <p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000000;line-height:18px;font-weight:normal">
                                                          <b>#SUB_TITLE#</b>
                                                      </p>
                                                      <p style="font-size:14px;color:#000000;line-height:16px">
                                                        #MESSAGE#
                                                      </p>
                                                  </td>
                                              </tr>
                                              <tr>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-bottom: 1px solid #e1e1e1;padding-bottom: 10px;">
                                                          <thead>
                                                              <tr>
                                                                  <th align="center" bgcolor="#F4F5F6" style="padding:11px 9px;font-weight: 500;color:#000;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Thông tin sản phẩm</th>
                                                                  <th align="center" bgcolor="#F4F5F6" style="padding:11px 9px;font-weight: 500;color:#000;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Giá bạn trả</th>
                                                                  <th align="center" bgcolor="#F4F5F6" style="padding:11px 9px;font-weight: 500;color:#000;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Giá hiện tại</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                                                              <tr>
                                                                  <td>
                                                                      <div style="display: flex;">
                                                                          <img width="60" height="60" src="#PRODUCT_IMAGE#" alt="#PRODUCT_NAME#"/>
                                                                          <div style="margin-left: 10px;">
                                                                              <div><strong>#PRODUCT_NAME#</strong></div>
                                                                              <div><span style="color: #f54b24;">#BID_TIME#</span></div>
                                                                              <div><span>#BID_COUNT# lượt đấu</span></div>
                                                                          </div>
                                                                      </div>
                                                                  </td>
                                                                  <td align="center">#BID_PRICE#</td>
                                                                  <td align="center">#CURRENT_PRICE#</td>
                                                              </tr>
                                                          </tbody>
                                                      </table>
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <div style="margin:auto;text-align: center;">
                                                    <a href="#" style="display:inline-block;text-decoration:none;background-color:#F54B24!important;text-align:center;border-radius:3px;color:#fff;padding:13px 16px;font-size:14px;font-weight:bold;margin-top:15px" target="_blank">
                                                      Quản lý sản phẩm
                                                    </a>
                                                  </div>
                                                  <p style="font-size: 12px;margin-top: 20px;line-height: 20px;font-style: italic;">
                                                    Lưu ý: Đối với đon hàng được thanh toán trước, nhân viên giao nhận có thể yêu cầu người nhận hàng cung cấp CMND / Giấy phép lái xe để chụp ảnh hoặc ghi nhận lại thông tin.
                                                  </p>
                                                  <p style="margin: 0;font-size: 14px;margin-bottom: 30px;line-height: 20px;">
                                                    Bạn cần hỗ trợ, vui long liên hệ:<br>
                                                    <b><a href="mailto:support@chozoi.vn" target="_blank" style="color:#F54B24;text-decoration: none;">support@chozoi.vn</a></b> hoặc liên hệ <b style="color:#F54B24">1900 6064</b> (8h-21h, kể cả Thứ 7 và chủ nhật)<br>
                                                    Chozoi trân trọng cảm ơn và rất hân hạnh được phục vụ bạn.
                                                  </p>
                                                </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td style="color: #DDDDDD;padding: 12px 30px 8px 30px;border-bottom: 1px solid #707070;">
                            <table width="600" style="font-size:14px;">
                              <tr style="color: #DDDDDD;">
                                <td width="0"></td>
                                <td width="50%" align="right" style="padding-right: 20px">
                                  <img src="https://cdn.chozoi.vn/post/79c2dcb0268c4bf69808ef02be415eb4.png" alt="Chozoi contact phone" height="18" width="18" style="vertical-align: middle;">
                                  1900 6064
                                </td>
                                <td width="50%" align="left" style="padding-left: 20px">
                                  <img src="https://cdn.chozoi.vn/post/31d943e18e3c4660a4ffa3861a0f24cd.png" alt="Chozoi contact email" height="18" width="18" style="vertical-align: middle;">
                                  <a href="mailto:support@chozoi.vn" target="_blank" style="color: #DDDDDD;text-decoration: none;">support@chozoi.vn</a>
                                </td>
                                <td width="0"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td style="color: #DDDDDD;padding: 11px 30px 10px 30px;border-bottom: 1px solid #707070;">
                            <table width="600" style="font-size:12px;">
                              <tr>
                                <td width="25%" align="left" style="border-right: 1px solid #DDDDDD">
                                  <a href="#" style="color: #DDDDDD;text-decoration: none;">Chính sách thanh toán</a>
                                </td>
                                <td width="25%" align="center" style="border-right: 1px solid #DDDDDD">
                                  <a href="#" style="color: #DDDDDD;text-decoration: none;">Chính sách giao hàng</a>
                                </td>
                                <td width="25%" align="center" style="border-right: 1px solid #DDDDDD">
                                  <a href="#" style="color: #DDDDDD;text-decoration: none;">Chính sách đổi trả</a>
                                </td>
                                <td width="25%" align="center">
                                  <a href="#" style="color: #DDDDDD;text-decoration: none;">Câu hỏi thường gặp</a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td style="padding: 12px 30px 0 30px;">
                            <p style="margin: 0;font-size: 12px;color: #DDDDDD;line-height: 20px;border-bottom: 1px solid #707070;padding-bottom: 12px;">
                              <strong>CÔNG TY CỔ PHẦN MCG</strong><br>
                              Giấy CNĐKDN: 0106462815 – Ngày cấp: 21/02/2014, sửa đổi lần thứ 3 ngày 24/05/2019. <br>
                              Nơi cấp: Phòng Đăng ký kinh doanh - Sở kế hoạch và Đầu tư TP. Hà Nội. <br>
                              Trụ sở chính: Số 7 ngõ 188 Lê Trọng Tấn, phường Khương Mai, Q. Thanh Xuân, TP. Hà Nội.
                            </p>
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td align="center" style="padding: 8px 30px;">
                            <p style="margin-bottom: 10px;font-size: 12px;color: #DDDDDD;line-height: 20px;">
                              Tải xuống ứng dụng Chozoi MIỄN PHÍ, trải nghiệm mua sắm tiện lợi ngay bây giờ
                            </p>
                            <img src="https://cdn.chozoi.vn/post/9d88423090d74db8989196a245f5a9a5.png" alt="Chozoi app store" height="42" style="vertical-align: middle;">
                            <img src="https://cdn.chozoi.vn/post/f153478a10cd43e99b5acb1b76d5e455.png" alt="Chozoi google play" height="42" style="vertical-align: middle;">
                          </td>
                        </tr>
                        <tr bgcolor="#232F3E">
                          <td align="center" style="padding: 0 30px;border-bottom: 1px solid #707070;">
                            <table width="600" style="border-top: 1px solid #707070;color: #DDDDDD">
                              <tr>
                                <td style="font-size: 12px;padding: 10px 0">© 2019 Chozoi. Đã đăng ký Bản quyền.</td>
                                <td align="right" style="padding: 10px 0">
                                  <img src="https://cdn.chozoi.vn/post/3e77fc3b0ec7409e94f9112147dfa332.png" alt="Chozoi app store" height="18" style="vertical-align: middle;">
                                  <img src="https://cdn.chozoi.vn/post/33612fc7872f451498760b1401289a3b.png" alt="Chozoi google play" height="18" style="vertical-align: middle;">
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
